<h1>Nearby Fuel Stations</h1>

<% @stations.each_with_index do |station, i| %>
  <div id=<%= "station-#{i}" %>>
    <h3><%= "#{i + 1}) -" %></h3>
    <h4>Name: <%= station.name %></h4>
    <h4>Address: <%= station.full_address %></h4>
    <h4>Fuel type: <%= station.fuel_type %></h4>
    <h4>Distance: <%= station.distance %></h4>
    <h4>Access Times: <%= station.hours %></h4>
  </div>
<% end %>
